core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
venv/
.venv/
assets/game_copy 3.json 
assets/game_copy_1.json 
assets/game_copy_2.json 
assets/game_copy_3.json 
assets/game_copy_4.json 
assets/game_copy_5.json 
assets/game_copy_7.json 
assets/game2.json 
assets/game3.json
assets/gamecopycopy.json

README_*
